.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-heading {
  font-family: Roboto;
  color: #1D3A61;
  font-size: 35px;
  text-decoration: underline;
}

.add-button{
  background-color: #FF7043;
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  padding: 8px;
  margin-top: 0px;
}